.horizontal-menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383535; 
  padding: 10px;
  font-family: Arial, sans-serif; 
  margin-top: 30px;
  opacity: 0.6;
  cursor: pointer;
  transition: all .2s ease;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.horizontal-menu:hover {
  opacity: 0.8;
}

.horizontal-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 2px solid transparent;
}

.horizontal-menu ul li {
  margin-right: 20px;
}

.horizontal-menu ul li:last-child {
  margin-right: 0;
}

.horizontal-menu ul li a {
  text-decoration: none;
  color: #ecda33;
  transition: color 0.3s ease;
}

.horizontal-menu ul li a:active {
  border-bottom-color: #ffffff;
}

.horizontal-menu ul li a:hover {
  color: #ffffff;
}

.logo {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  
}

.logo img {
  height: 7vh;
  width: 7vw;
  margin-left: 15px;
}

/* Медіа-запит для пристроїв з максимальною шириною екрану 600px */
@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
