.footercontainer{
  justify-content: center; 
  align-items: center;
  height: 10vw;
  /* width: 100%; */
  background-color: rgb(0, 0, 0);
  color: white;
  overflow: hidden;


}
.footercontaier h1{
    text-align: center;
    display: inline-block;


}
img{
    height: 2vw;
    width: 2vw;
    margin-left: 20%;
    margin-top: 5%;
}
@media screen and (max-width: 600px) {
    .containerfooter{
        width: 100vw;
       
    }
    .footercontainer{
        height: 50vw;
    }
    img{
        height: 6vw;
        width: 6vw;
    }
}

